In [1]:
import numpy as np
import tensorflow as tf
from tensorflow import keras 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv("insurance_data.csv")
df.head(3)

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df[['age','affordibility']],df.bought_insurance,test_size=0.2,random_state=25)

In [10]:
df.shape

(28, 3)

In [11]:
len(x_train)

22

In [16]:
### since our age col is in range 0 - 100, we can convert it b/w 0 & 1 . (by dividing with 100)
### so that our age & affordability are on the same scale , so that our ML model works fine .

x_train_scaled = x_train.copy()
x_train_scaled['age'] = x_train_scaled['age'] / 100
x_train_scaled.head(3)

     age  affordibility
0   0.22              1
13  0.29              0
6   0.55              0

In [18]:
x_test_scaled = x_test.copy()
x_test_scaled['age'] = x_test_scaled['age'] / 100
x_test_scaled.head(3)

     age  affordibility
2   0.47              1
10  0.18              1
21  0.26              0

In [ ]:
### crete our first neuron
###epochs should be 5000 to get max accuracy . since my system performance is poor , im setting to 100
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,) , activation='sigmoid' , kernel_initializer='ones', bias_initializer='zeros')
])

model.compile(optimizer='adam' , loss='binary_crossentropy' , metrics=['accuracy'])
model.fit(x_train_scaled,y_train,epochs=100)

In [ ]:
model.evaluate(x_test_scaled,y_test)