In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df = pd.read_csv(r'C:\Users\91934\Downloads\homeprices_multivariate.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [38]:
import math
median_bedroom = math.floor(df.bedrooms.median())
df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [52]:
li_reg = linear_model.LinearRegression()
model = li_reg.fit(df[['area','bedrooms','age']],df.price)

In [41]:
li_reg.predict([[3000,3,40]])

C:\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [53]:
import joblib
joblib.dump(model,'joblib_model')

['joblib_model']

In [56]:
mj = joblib.load('joblib_model')
mj.predict([[3000,3,40]])

C:\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([731461.43447297])